"# Ignore embedded Livox SDK
Livox-SDK2/
Sophus/
gtsam/
data/cmu-scafie/

# Ignore all cloned ROS2 packages under ros2_ws/src
ros2_ws/src/SuperOdom/
ros2_ws/src/livox_ros_driver2/
ros2_ws/src/rviz_2d_overlay_plugins/

# (Optionnel) ignores généraux
*.db3
*.yaml
build/
.install/
# ROS2 build artifacts
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
ros2_ws/core
dev_ws/build/
dev_ws/install/
dev_ws/log/

data/coin_de_rue/.rosbag2_2025_06_20-01_50_03_0.db3.RfZRyN
data/core
